# Flutter/Dart
**/doc/*
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build
build/

# IDE
.vscode/
.idea/
*.iml

# Environment
.env
!.env.example

# Web
.dart_tool/